@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

Link {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

// NAVIGATION STYLE

.nav_bar {
  // width: 100%;
  position: relative;
  background-color: #d10683;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav_link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: aliceblue;
  }
}

.navbarBrand {
  display: none;
}

.navbar-toggler {
  display: none;
}

.nav_lang {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
}

.btn-link img {
  color: aliceblue;
}

// NAVOGATION MEDIA 

@media (max-width: 830px) {
  .navbarBrand {
    display: inline-block;
  }
  
  .navbar-toggler {
    display: inline-block;
  }
  
  #navBar {
    display: none;
  }

  .navBar_Media {
    background-color: #d10683;
    position: relative;
  }

  .media_list {
    background-color: #d10683;
  }

  .mediaTitle {
    color: aliceblue;
  }

  .navbar-nav {
    .mediaLink {
      color: aliceblue;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .mediaSearch {
    border: aliceblue 2px solid;
  }

  .mediaDropLink {
    color: #d10683;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

}

// HERO SECTION
.heroVideo {
  width: 100%;
  position: relative;
  bottom: 16px;
  object-fit: cover;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 300px;

  .hero_title {
    width: 567px;
    font-weight: 400;
    font-size: 80px;
    line-height: 108px;
    text-transform: capitalize;
    color: aliceblue;
    text-shadow: 0px 2.38123px 7.1437px rgba(0, 0, 0, 0.25);
    margin-right: 180px;
    margin-left: 50px;
  }
}

.heroInfo {
  width: 470px;
  height: 500px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 32px;

  .heroInfo_title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #15594D;
    text-align: center;
    margin-bottom: 24px;
  }

  .heroForm {
    input {
      width: 406px;
      height: 45px;
      backdrop-filter: blur(5px);
      border-radius: 6px;
      display: block;
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #767676;
    }
    select {
      color: #767676;
    }
    .heroFormSubmit {
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: aliceblue;
    }
  }
}

// HERO MEDIA STYLE

@media (max-width: 1280px) {
  .heroContent {
    .hero_title {
      margin-right: 100px;
      margin-left: 50px;
    }
  }
}

@media (max-width: 1205px) {
  .heroContent {
    position: absolute;
    top: 250px;
    .hero_title {
      width: 500px;
      font-weight: 400;
      font-size: 50px;
      line-height: 70px;
      margin-right: 60px;
      margin-left: 50px;
    }
  }

  .heroInfo {
    width: 370px;
    height: 420px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 32px 32px 32px 32px;
    .heroForm {
      input {
        width: 306px;
        height: 45px;
      }
      select {
        width: 306px;
      }
      textarea {
        width: 306px;
      }
      .heroFormSubmit {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: aliceblue;
      }
    }
  }
}

@media (max-width: 1015px) {
  .heroContent {
    position: absolute;
    top: 220px;
    .hero_title {
      width: 500px;
      margin-right: 0px;
    }
  }
}

@media (max-width: 950px) {
  .heroContent {
    position: absolute;
    top: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .hero_title {
      margin-right: -50px;
      margin-left: 50px;
    }
  }

  .heroInfo {
    .heroInfo_title {
      font-weight: 500;
      font-size: 25px;
      line-height: 10px;
      margin-bottom: 22px;
      color: #000000b2;
    }
  }

  .heroInfo {
    width: 330px;
    height: 420px;
    padding: 32px 32px 32px 32px;
    .heroForm {
      input {
        width: 270px;
        height: 45px;
        margin-bottom: 17px;
      }
      select {
        width: 270px;
        margin-bottom: 17px;
      }
      textarea {
        width: 270px;
        margin-bottom: 17px;
      }
      .heroFormSubmit {
        width: 100%;
      }
    }
  }
}

@media (max-width: 860px) {
  .heroContent {
    position: absolute;
    top: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .hero_title {
      margin-right: -80px;
      margin-left: 50px;
    }
  }

  .heroInfo {
    width: 320px;
    height: 370px;
    padding: 22px;
    .heroForm {
      input {
        width: 270px;
        height: 45px;
        margin-bottom: 17px;
      }
      select {
        width: 270px;
        margin-bottom: 17px;
      }
      textarea {
        width: 270px;
        margin-bottom: 17px;
      }
      .heroFormSubmit {
        width: 100%;
      }
    }
  }
}

@media (max-width: 830px) {
  .heroContent {
    width: auto;
    position: absolute;
    top: 120px;
  
    .hero_title {
      width: 300px;
      padding: 20px 0;
      margin-right: 0px;
      margin-left: 0;
      font-size: 30px;
      line-height: 40px;
    }
    .heroInfo {
      text-align: center;
      margin: 0 auto;
      width: 320px;
      height: 300px;
      padding: 20px;
      .heroForm {
        input {
          width: 270px;
          height: 35px;
          margin-bottom: 13px;
        }
        select {
          width: 270px;
          height: 35px;
          margin-bottom: 13px;
        }
        textarea {
          width: 270px;
          height: 40px;
          margin-bottom: 13px;
        }
        .heroFormSubmit {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .heroContent {
    top: 90px;
    .heroInfo {
      width: 100%;
      height: 300px;
      padding: 20px;
      .heroForm {
        input {
          width: 100%;
          height: 35px;
          margin-bottom: 13px;
        }
        select {
          width: 100%;
          height: 35px;
          margin-bottom: 13px;
        }
        textarea {
          width: 100%;
          height: 40px;
          margin-bottom: 13px;
        }
        .heroFormSubmit {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .heroContent {
    top: 90px;
    .heroInfo_title {
      font-size: 20px;
      line-height: 0px;
      margin-bottom: 20px;
    }
    .heroInfo {
      width: 100%;
      height: 250px;
      padding: 20px;
      .heroForm {
        input {
          width: 100%;
          height: 28px;
          font-size: 13px;
          margin-bottom: 10px;
        }
        select {
          width: 100%;
          height: 30px;
          font-size: 13px;
          margin-bottom: 10px;
        }
        textarea {
          width: 100%;
          height: 28px;
          font-size: 13px;
          margin-bottom: 10px;
        }
        .heroFormSubmit {
          width: 100%;
          height: 30px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .heroContent {
    display: none;
    .heroInfo {
      display: none;
    }
  }
}

#heroInfo {
  margin: 0 auto;
  position: relative;
  top: -30px;
}

// WHY US STYLE

.whyUsTitle_content {
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  img {
    margin-bottom: 10px;  
  }
  h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #000;
  }
}

.whyUs_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
  margin: 0 auto;
  .whyUs_card {
    width: 280px;
    height: 298px;
    background: #F8F6F4;
    border-radius: 18px;
    padding: 20px 13px 24px 13px;
    margin-bottom: 50px;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
      transition: all 1s ease;  
    }
    img {
      margin: 0 auto;
      display: block;
      margin-bottom: 15px;
    }
    h3 {
      width: auto;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000;
      margin-bottom: 5px;
    }
    p {
      width: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: #564E4E;
    }
  }
}

@media (max-width: 590px) {
  .whyUs_content {
    justify-content: center;
    padding: 40px 0;
  }

  .whyUsTitle_content {
    padding-top: 50px;
    img {
      margin-bottom: 10px;  
    }
    h2 {
      font-size: 55px;
      line-height: 55px;
      color: #000;
    }
  }
}

@media (max-width: 400px) {
  .whyUsTitle_content {
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

@media (max-width: 270px) {
  .whyUs_content {
    .whyUs_card {
      height: auto;
    }
  }
}

// STANDARDS STYLE

.standardsContent {
  margin-bottom: 90px;
  img {
    margin-right: 100px;
    border-radius: 8px;
  }

  .standardsInfo {
    h2 {
      font-family: 'Tenor Sans';
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      color: #000;
      width: auto;
    }

    .standardsInfoContent {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .standardsInfoSec {
      span {
        font-family: 'Tenor Sans';
        font-weight: 400;
        font-size: 64px;
        text-align: center;
        color: #d10683;
      }
      h3 {
        font-family: 'Tenor Sans';
        width: 135px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #564E4E;
        display: block;
      }
    }
  }
}

@media (max-width: 1100px) {
  .standardsContent {
    img {
      width: 600px;
    }
  }
}

@media (max-width: 970px) {
  .standardsContent {
    flex-wrap: wrap;
    img {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .standardsInfo {
      h2 {
        font-size: 35px;
        text-align: center;
        line-height: 40px;
      }
      .standardsInfoContent {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      .standardsInfoSec {
        text-align: center;
      }
    }

  }
}