/* .swiper {
  width: 100%;
  cursor: col-resize;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  height: 390px;
  border-radius: 8px;
} */

.carousel-item {
  width: 293.68px;
  height: 395.77px;
}

.carousel-item img {
  border-radius: 8px;
  object-fit: cover;
}